body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dvije kolone */
  grid-template-rows: repeat(2, 1fr); /* Dvije reda */
  gap: 0; /* Razmak između elemenata */
  height: 100vh; /* Cijeli ekran */
}

/* Stil za iframe elemente (grid stavke) */
.grid-item {
  width: 100%; /* Popunjavaju cijelu širinu kolone */
  height: 100%; /* Popunjavaju cijelu visinu ekrana */
}

.nav-dropdown-inner {
  margin-left: 20px;
}

.nav-dropdown-no-border .dropdown-menu {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}